{%extends 'base.html' %}

{% block title %} Login {% endblock title %}
{% block content %}

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-5 bg-side">
                <div class='header'>
                    <div class="body-form">
                        {% if messages %}
                        <br>
                        {% for message in messages %}
                        <div class="alert {{message.tags}}">
                            {{message}}
                        </div>
                        {% endfor %}
                        {% endif %}
                        <h2>Login</h2>

                        <hr>
                        <form action="{% url 'login' %}" method="POST">{% csrf_token %}
                            <span>Nome:</span>
                            <input type="text" class="form-control" placeholder="Digite seu nome..." name="nome">
                            <br>

                            <span>Senha:</span>
                            <input type="password" class="form-control" placeholder="Digite sua senha..." name="senha">


                            <input type="submit" value="Logar" class="btn-custom-primary">

                            <a href="{% url 'cadastro' %}" class="link-float">Cadastre-se</a>
                        </form>
                    </div>
                </div>
            <div class="col-md-7">
        </div>
    </div>


    {% endblock content %}